.card {
	@apply cursor-pointer;
}

.card-inner {
	@apply flex flex-col justify-around items-center text-center;

	> span.material-design-icon {
		@apply mb-4;
	}
}

.card .mdi {
	@apply my-2;
}

.card-container {
	@apply w-full px-2;
}
